<div class="title">
  Внешние ключи
  <a class="add btn-floating right"><i class="material-icons">add</i></a>
</div>
{{#if foreigns}}
 <ul class="collection">
  {{#each foreigns}}
  <li class="collection-item">
    <div class="desc">
      {{this.field}}
      <i class="grey-text">
        REFERENCES {{this.table}}({{this.onField}}) ON DELETE {{this.delete}} ON UPDATE {{this.update}}
      </i>
    </div>
    <div class="actions">
      <i class="edit tiny material-icons" data-id="{{this.id}}" title="Просмотр/Редактирование">edit</i>
      <i class="delete tiny material-icons red-text text-darken-1 ml-2" data-id="{{this.id}}" title="Удалить">delete</i>
    </div>
  </li>
  {{/each}}
</ul>
{{else}}
<div class="center grey-text">
  Внешних ключей не найдено
</div>
{{/if}}