<li><a href="#" class="fields"><i class="material-icons">storage</i> Поля <span class="new badge {{#if fields}}green lighten-1{{else}}grey lighten-1{{/if}}" data-badge-caption="{{fields}}"></span></a></li>
<li><a href="#" class="primary"><i class="material-icons amber-text text-darken-1">vpn_key</i> Первичный ключ <span class="new badge {{#if primary}}green lighten-1{{else}}grey lighten-1{{/if}}" data-badge-caption="{{primary}}"></span></a></li>
<li><a href="#" class="foreigns"><i class="material-icons">vpn_key</i> Внешние ключи <span class="new badge {{#if foreigns}}green lighten-1{{else}}grey lighten-1{{/if}}" data-badge-caption="{{foreigns}}"></span></a></li>
<li><a href="#" class="indexes"><i class="material-icons">timeline</i> Индексы <span class="new badge {{#if indexes}}green lighten-1{{else}}grey lighten-1{{/if}}" data-badge-caption="{{indexes}}"></span></a></li>
<li><div class="divider"></div></li>
<li><a href="#" class="editName"><i class="material-icons">edit</i> Изменить название</a></li>
<li><a href="#" class="deleteTable"><i class="material-icons red-text text-darken-2">delete</i> Удалить таблицу</a></li>